@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body {
    color: #363636;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.link {
    color: inherit;
    text-decoration: none;
}

.line {
    border: none;
    height: 1px;
    background-color: #7d7d7d;
    margin: 8px 0;
}

.line-bold {
    border: none;
    background-color: #000;
    height: 2px;
    width: 50%;
    margin: 0;
    position: relative;
    top: 0.4mm;
}

.line-thin {
    border: none;
    height: 1px;
    background-color: #7d7d7d;
    margin: 0;
}

.list-item {
    list-style-type: none;
}

.title {
    color: #000;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    font-weight: normal;
}

.date {
    color: #7d7d7d;
    font-size: 12px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #7a7a7a;
    width: 1200px;
    margin: 40px auto 0;
}

.header-nav-list {
    display: flex;
    padding: 0;
    margin: 0;
}

.header-nav-list > .list-item:first-child {
    margin-right: 30px;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.main-head {
    font-size: 72px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    line-height: 1.75;
}

.main-title {
    font-weight: 700;
    font-size: 48px;
    margin: 25px 0 0;
    line-height: 1.5;
}

.main-text {
    margin: 0 0 35px;
    line-height: 2;
}

.main-nav {
    background-color: #363636;
    color: #fff;
    padding: 25px;
    border-radius: 0.4em;
}

.main-nav-list {
    display: flex;
    max-width: 65%;
    margin: 0;
    padding: 0;
}

.main-nav-list > .list-item {
    margin-right: 30px;
}

.main-nav-list > .list-item:first-child {
    margin-left: 15px;
}

.images {
    display: flex;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.big-img-block {
    width: 100%;
    margin-bottom: 2px;
    position: relative;
}

.big-img-block img {
    max-width: 99%;
}

.small-img-block img {
    max-width: 98%;
}

.small-img-block {
    width: 50%;
    position: relative;
}

.image-text-block {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    line-height: 1.5;
}

.image-text-title {
    font-weight: normal;
    font-size: 48px;
    margin: 0;
}

.image-text {
    margin: 0;
    text-transform: lowercase;
}

.small-img-block .image-text-title {
    font-size: 32px;
}

.small-img-block .image-text {
    font-size: 14px;
}

.events-soc-users {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.events {
    width: 68%;
    border: 1px solid #7d7d7d;
    padding: 20px;
}

.events > .line-bold {
    width: 43%;
    margin: 0 0 40px;
}

.event-container {
    width: 360px;
    height: 100%;
}

.events-images {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-text-title {
    color: #000;
    line-height: 2;
    margin: 0;
    font-weight: normal;
}

.event-container {
    margin-bottom: 40px;
}

.event-img {
    position: relative;
    height: 177px;
    background-size: cover;
    background-repeat: round;
}

.event-img-text {
    position: absolute;
    bottom: 0;
    color: #000;
    height: 12%;
    font-size: 12px;
    text-transform: uppercase;
    padding: 2px 10px;
}

.event-color-01 {
    background-color: #468eda;
}

.event-color-02 {
    background-color: #5cc08c;
}

.event-color-03 {
    background-color: #c075b8;
}

.event-color-04 {
    background-color: #e1b173;
}

.button {
    font-family: 'Roboto', sans-serif;
    background-color: #5cbd5c;
    font-size: 14px;
    color: #fff;
    border-radius: 0.4em;
    display: block;
    text-align: center;
    border: none;
    width: 250px;
    padding: 25px 20px;
    margin: 80px auto 30px;
    cursor: pointer;
}

.soc-users {
    display: flex;
    width: 29%;
    flex-direction: column;
    justify-content: space-between;
}

.social-net {
    border: 1px solid #7d7d7d;
    width: 350px;
    min-height: 25%;
    padding: 20px;
}

.soc-net-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0;
    margin: 45px 0 25px;
}

.soc-net-text {
    line-height: 2;
    color: #7d7d7d;
    font-size: 12px;
}

.soc-net-list img {
    max-width: 100%;
}

.users {
    border: 1px solid #7d7d7d;
    width: 350px;
    height: 68%;
    padding: 20px;
}

.users-list {
    margin-top: 45px;
    padding: 0;
}

.users-list > .list-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.users-list .link {
    width: 67px;
    height: 67px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.users-list img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-info {
    color: #7d7d7d;
    margin: 0;
    font-size: 12px;
}

.user-block {
    margin-left: 10px;
}

.username {
    margin: 0;
    font-size: 14px;
    color: #000;
}

.lectures {
    background: #f4f4f4;
    padding: 20px;
    margin: 35px 0;
}

.lectures > .line-thin {
    background-color: #000;
    width: 7%;
    margin: 0 0 40px;
}

.lectures-containers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.lecture-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.lecture-container {
    width: 100%;
    margin-right: 4px;
    height: 14vw;
}

.news-reg {
    display: flex;
    justify-content: space-between;
    margin: 35px 0;
}

.news {
    border: 1px solid #7d7d7d;
    width: 68%;
    padding: 20px;
}

.news-containers {
    margin: 10px 125px 0 0;
}

.news-container {
    display: flex;
    align-content: baseline;
}

.news > .line-bold {
    width: 28%;
}

.news > .line-thin {
    width: 38%;
}

.news-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.news-block > .date {
    line-height: 3;
}

.news-title {
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

.news-text {
    color: #7d7d7d;
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
}

.registration {
    width: 29%;
    border: 1px solid #7d7d7d;
    padding: 20px;
}

.registration > .button {
    width: 110px;
    padding: 15px;
    margin: 0 0 0 auto;
}

.reg-container {
    margin-bottom: 20px;
}

.reg-title {
    color: #7d7d7d;
}

.input {
    width: 100%;
    padding: 15px;
    border-radius: 0.4em;
    border: 1px solid #7d7d7d;
}

.input:hover {
    border-color: #5cbd5c;
}

.footer {
    background-color: #363636;
    text-align: center;
    color: #bfbfbf;
    padding: 70px;
    margin-top: 145px;
}

.footer-text {
    margin: 0;
}

@media screen and (max-width: 1440px) {
    .main, .header {
        width: 80%;
    }

    .main-nav-list > .list-item {
        flex-shrink: 0;
    }

    .event-container {
        width: 47%;
    }

    .events > .line-bold {
        width: 55%;
    }

    .social-net {
        width: 100%;
    }

    .users {
        width: 100%;
    }

}

@media screen and (max-width: 1035px) {

    .main, .header {
        width: 95%;
    }

    .registration > .title {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 768px) {

    html {
        font-size: calc(100% - 6px);
    }

    .title {
        padding-bottom: 5px;
    }

    .header {
        margin-top: 20px;
    }

    .header-nav-list > .list-item:first-child {
        margin-right: 15px;
    }

    .main-nav {
        padding: 15px;
    }

    .main-head {
        font-size: calc(100% + 45px);
    }

    .main-title, .image-text-title {
        font-size: calc(100% + 15px);
    }

    .small-img-block .image-text-title{
        font-size: calc(100% + 10px);
    }

    .small-img-block .image-text {
        font-size: calc(100% - 1px);
    }

    .main-text {
        margin-bottom: 15px;
    }

    .events-soc-users, .news-reg  {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .events {
        padding: 15px;
    }

    .events > .line-bold, .lectures > .line-thin {
        margin-bottom: 25px;
    }

    .event-img-text {
        font-size: calc(100% - 3px);
    }

    .event-container {
        width: 48%;
    }

    .event-img {
        height: 130px;
    }

    .date {
        font-size: calc(100% - 3px);
    }

    .button {
        font-size: calc(90% + 1px);
        width: 40%;
        padding: 20px 10px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .social-net {
        width: 100%;
        padding: 15px;
    }

    .soc-net-list {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .soc-net-list .list-item {
        min-width: 18%;
    }

    .soc-net-list img {
        width: 50%;
    }

    .soc-net-text {
        font-size: calc(100% - 3px);
    }

    .users {
        width: 100%;
        height: 69%;
        padding: 15px;
    }

    .username {
        font-size: calc(90% + 1px);
    }

    .users-list {
        margin-top: 30px;
    }

    .users-list .list-item {
        width: 100%;
        margin-top: 10px;
    }

    .users-list .link {
        max-width: 10%;
        min-width: 18%;
        height: 4vw;
    }

    .user-info {
        font-size: calc(100% - 3px);
    }

    .lectures {
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .lectures-containers {
        margin-bottom: 15px;
    }

    .news {
        padding: 15px;
    }

    .news-containers {
        margin-right: 90px;
    }

    .news-text {
        font-size: calc(90% + 1px);
    }
    .news-container img {
        max-width: 100%;
    }

    .news-container > .link {
        max-width: 18%;
        min-width: 18%;
    }

    .registration {
        padding: 15px;
    }

    .registration > .button {
        width: 50%;
        padding: 13px;
    }

    .input {
        font-size: calc(90% + 1px);
        padding: 10px;
    }

    .footer {
        margin-top: 50px;
        padding: 35px;
    }
}

@media screen and (max-width: 583px) {

    .main-nav {
        overflow: hidden;
    }

    .button {
        width: 50%;
        padding: 15px 0;
    }

    .big-img-block {
        margin: 0;
    }

    .small-img-block .image-text-title{
        font-size: calc(100% + 2px);
    }

    .small-img-block .image-text {
        font-size: calc(100% - 4px);
    }

    .users {
        height: 65%;
    }

    .news-containers {
        margin-right: 30px;
    }

    .news-container img {
        width: 100%;
    }

    .registration > .button {
        width: 60%;
        padding: 10px;
    }

    .title {
        word-wrap: break-word;
    }
}

@media screen and (max-width: 415px) {

    .header {
        width: 90%;
        margin-top: 20px;
    }

    .title {
        font-size: initial;
    }

    .main {
        width: 100%;
    }

    .main-nav {
        border-radius: initial;
    }

    .main-nav, .lectures {
        overflow: auto;
        overflow-y: auto;
    }

    .main-nav-list .link:last-child {
        margin-right: 15px;
    }

    .main-text, .main-title {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .main-nav-list > .list-item {
        margin-right: 25px;
        flex-shrink: 0;
    }

    .images {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
    }

    .image-container {
        justify-content: space-between;
        align-content: space-between;
    }

    .small-img-block {
        flex-wrap: nowrap;
        width: 49%;
    }

    .big-img-block {
        margin: 4px 0;
    }

    .big-img-block img, .small-img-block img{
        min-width: 100%;
    }

    .events-soc-users {
        flex-wrap: wrap;
        height: 100%;
    }

    .events {
        width: 100%;
        margin-bottom: 25px;
        border-right: none;
        border-left: none;
    }

    .events > .line-bold {
        width: 55%;
    }

    .events-images, .event-container {
        width: 100%;
    }

    .events > .button {
        width: 45%;
        margin: 0 0 20px;
    }

    .social-net, .users, .soc-users {
        width: 100%;
    }

    .users {
        margin-bottom: 25px;
        border-right: none;
        border-left: none;
    }

    .users-list .list-item {
        margin-top: 20px;
    }

    .users-list .link {
        max-width: 12%;
        min-width: 10%;
        height: 10vw;
    }

    .soc-net-list img {
        width: 60%;
    }

    .username {
        font-size: calc(100% + 5px);
    }

    .user-info, .soc-net-text, .reg-title {
        font-size: calc(100% + 3px);
    }

    .social-net {
        order: 2;
        border-right: none;
        border-left: none;
    }

    .social-net > .line-bold, .users >.line-bold {
        width: 20%;
    }

    .social-net > .line-thin, .users >.line-thin {
        width: 45%;
    }

    .news {
        display: none;
    }

    .lectures {
        padding: 10px;
        margin: 25px 0;
    }

    .lectures-containers, .reg-container  {
        margin-bottom: 15px;
    }

    .lectures > .line-thin {
        width: 20%;
        margin-bottom: 15px;
    }

    .lecture-container {
        height: 100%;
    }

    .lecture-img {
        width: 170px;
        height: 120px;
        margin-right: 4px;
    }

    .lecture-container:last-child .lecture-img {
        margin-right: 10px;
    }

    .registration {
        width: 70%;
        margin: auto;
    }

    .registration > .button {
        width: 35%;
    }

    .footer {
        padding: 40px;
    }
}